body {
  height: 100vh;
  background: lightgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html-wrapper {
  width: 484px;
  height: 584px;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1199px) {
  .html-wrapper {
    width: 450px;
    height: 556px;
  }
}
@media screen and (max-width: 959px) {
  .html-wrapper {
    width: 568px;
  }
}
@media screen and (max-width: 639px) {
  .html-wrapper {
    width: 434px;
  }
}
@media screen and (max-width: 479px) {
  .html-wrapper {
    width: 294px;
    height: 418px;
  }
}

.calculator {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 16px;
  padding: 68px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .calculator {
    padding: 40px 32px;
  }
}
@media screen and (max-width: 959px) {
  .calculator {
    padding: 40px 46px;
  }
}
@media screen and (max-width: 639px) {
  .calculator {
    padding: 40px 34px 48px 34px;
  }
}
@media screen and (max-width: 479px) {
  .calculator {
    padding: 24px 24px 32px 24px;
  }
}
.calculator__top {
  gap: 30px;
}
@media screen and (max-width: 479px) {
  .calculator__top {
    gap: 22px;
  }
}
.calculator__rows {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.calculator__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.calculator__input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
}
.calculator__labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calculator__label {
  font-family: "Gothampro", Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}
@media screen and (max-width: 479px) {
  .calculator__label {
    font-size: 12px;
  }
}
.calculator__row-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calculator__row-title {
  font-family: "Gothampro", Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}
@media screen and (max-width: 479px) {
  .calculator__row-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 639px) {
  .calculator__row-title span {
    display: none;
  }
}
.calculator__row-value {
  font-family: "Gothampro", Arial, sans-serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}
@media screen and (max-width: 1199px) {
  .calculator__row-value {
    font-size: 28px;
  }
}
@media screen and (max-width: 479px) {
  .calculator__row-value {
    font-size: 18px;
  }
}
.calculator__row-value_middle {
  font-size: 20px;
}
@media screen and (max-width: 479px) {
  .calculator__row-value_middle {
    font-size: 18px;
  }
}
.calculator__middle {
  gap: 32px;
}
@media screen and (max-width: 479px) {
  .calculator__middle {
    gap: 24px;
  }
}
.calculator__link {
  background-color: #68cbeb;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-radius: 12px;
  font-family: "Gothampro", Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  text-decoration: none !important;
  transition: background-color 0.3s ease-in-out;
}
.calculator__link:hover {
  background-color: #1163ad;
  transition: background-color 0.3s ease-in-out;
}
@media screen and (max-width: 639px) {
  .calculator__link {
    height: 56px;
  }
}
@media screen and (max-width: 479px) {
  .calculator__link {
    font-size: 16px;
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  border-radius: 40px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #dfe1e7, 0px 0px 1px #dfe1e7;
  background: #dfe1e7;
  border-radius: 41px;
  border: 0px solid #68cbeb;
}

input[type=range]::-webkit-slider-thumb {
  border: 5px solid #68cbeb;
  height: 20px;
  width: 20px;
  border-radius: 414px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  box-shadow: -4px 0px 0px -4px #68cbeb;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dfe1e7;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #68cbeb, 0px 0px 1px #68cbeb;
  background: #68cbeb;
  border-radius: 40px;
  border: 0px solid #68cbeb;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #68cbeb, 0px 0px 1px #68cbeb;
  border: 1px solid #68cbeb;
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #68cbeb;
  border: 0.2px solid #68cbeb;
  border-radius: 40px;
  box-shadow: 1px 1px 1px #68cbeb, 0px 0px 1px #68cbeb;
}

input[type=range]::-ms-fill-upper {
  background: #68cbeb;
  border: 0.2px solid #68cbeb;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #68cbeb, 0px 0px 1px #68cbeb;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #68cbeb, 0px 0px 1px #68cbeb;
  border: 1px solid #68cbeb;
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #68cbeb;
}

input[type=range]:focus::-ms-fill-upper {
  background: #68cbeb;
}