body {
	height: 100vh;
	background: lightgray;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.html-wrapper {
	width: 484px;
	height: 584px;
	position: absolute;
	top: 0;
	left: 0;

	@media screen and (max-width: 1199px) {
		width: 450px;
		height: 556px;
	}

	@media screen and (max-width: 959px) {
		width: 568px;
	}

	@media screen and (max-width: 639px) {
		width: 434px;
	}

	@media screen and (max-width: 479px) {
		width: 294px;
		height: 418px;
	}
}

.calculator {
	height: 100%;
	width: 100%;
	background: #fff;
	border-radius: 16px;
	padding: 68px 40px 40px 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 1199px) {
		padding: 40px 32px;
	}
	@media screen and (max-width: 959px) {
		padding: 40px 46px;
	}
	@media screen and (max-width: 639px) {
		padding: 40px 34px 48px 34px;
	}
	@media screen and (max-width: 479px) {
		padding: 24px 24px 32px 24px;
	}

	&__top {
		gap: 30px;

		@media screen and (max-width: 479px) {
			gap: 22px;
		}
	}

	&__rows {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__row {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__input {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 16px;
		position: relative;

		&-progress {
			position: absolute;
			height: 10px;
			background-color: #68cbeb;
			pointer-events: none;
			border-radius: 16px;
			z-index: 1;
		}
	}

	&__labels {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__label {
		font-family: "Gothampro", Arial, sans-serif;
		font-size: 16px;
		line-height: 1;
		font-weight: 400;

		@media screen and (max-width: 479px) {
			font-size: 12px;
		}
	}

	&__row-text {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__row-title {
		font-family: "Gothampro", Arial, sans-serif;
		font-size: 20px;
		line-height: 1;
		font-weight: 500;

		@media screen and (max-width: 479px) {
			font-size: 18px;
		}

		span {
			@media screen and (max-width: 639px) {
				display: none;
			}
		}
	}

	&__row-value {
		font-family: "Gothampro", Arial, sans-serif;
		font-size: 32px;
		line-height: 1;
		font-weight: 500;

		@media screen and (max-width: 1199px) {
			font-size: 28px;
		}
		@media screen and (max-width: 479px) {
			font-size: 18px;
		}
		&_middle {
			font-size: 20px;

			@media screen and (max-width: 479px) {
				font-size: 18px;
			}
		}
	}

	&__middle {
		gap: 32px;

		@media screen and (max-width: 479px) {
			gap: 24px;
		}
	}

	&__link {
		background-color: #68cbeb;
		color: #fff !important;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 64px;
		border-radius: 12px;
		font-family: "Gothampro", Arial, sans-serif;
		font-size: 20px;
		line-height: 1;
		font-weight: 500;
		text-decoration: none !important;
		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: #1163ad;
			transition: background-color 0.3s ease-in-out;
		}
		@media screen and (max-width: 639px) {
			height: 56px;
		}

		@media screen and (max-width: 479px) {
			font-size: 16px;
		}
	}
}

input[type="range"] {
	-webkit-appearance: none;
	margin-right: 15px;
	width: 100%;
	height: 10px;
	background: #dfe1e7;
	border-radius: 16px;
	background-image: linear-gradient(#68cbeb, #68cbeb);
	background-size: 0% 100%;
	background-repeat: no-repeat;
}

[dir="rtl"] input[type="range"] {
	background: #68cbeb;
	background-image: linear-gradient(#fff, #fff);
	background-size: 0% 100%;
	background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	border: 5px solid #68cbeb;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	-webkit-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	border: 5px solid #68cbeb;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

input[type="range"]::-ms-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #68cbeb;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	-ms-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

/* Input Track */
input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type="range"]::-moz-range-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type="range"]::-ms-track {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type="range"]:focus::-ms-fill-lower {
	background: #68cbeb;
}

input[type="range"]:focus::-ms-fill-upper {
	background: #68cbeb;
}
